{% extends 'base.html.twig' %}

{% block title %}Command late{% endblock %}

{% block body %}
    <h1>Command late</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ClientFirstname</th>
                <th>ClientLastname</th>
                <th>ClientAddress</th>
                <th>ClientPhoneNumber</th>
                <th>DueDate</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for command in commands %}
            <tr>
                <td>{{ command.id }}</td>
                <td>{{ command.clientFirstname }}</td>
                <td>{{ command.clientLastname }}</td>
                <td>{{ command.clientAddress }}</td>
                <td>{{ command.clientPhoneNumber }}</td>
                <td>{{ command.dueDate ? command.dueDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ command.status }}</td>
                <td>
                    <a href="{{ path('command_show', {'id': command.id}) }}">show</a>
                    <a href="{{ path('relancer', {'id': command.id}) }}">relancer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}