{% extends 'base.html.twig' %}

{% block title %}Command paid{% endblock %}

{% block body %}
    <h1>Command paid</h1>

        {% for command in commands %}
        
<table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ command.id }}</td>
            </tr>
            <tr>
                <th>ClientFirstname</th>
                <td>{{ command.clientFirstname }}</td>
            </tr>
            <tr>
                <th>ClientLastname</th>
                <td>{{ command.clientLastname }}</td>
            </tr>
            <tr>
                <th>ClientAddress</th>
                <td>{{ command.clientAddress }}</td>
            </tr>
            <tr>
                <th>ClientPhoneNumber</th>
                <td>{{ command.clientPhoneNumber }}</td>
            </tr>
            <tr>
                <th>DueDate</th>
                <td>{{ command.dueDate ? command.dueDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ command.status }}</td>
            </tr>
        </tbody>
    </table>

    {% endfor %}

{% endblock %}